<div class='row'>
  <div class='col-md-12'>
    <h1>Tester</h1>
    
    <table>
      <tbody>
        <tr>
          <td>construction type</td>
          <td>
            <select id="tester" size='4' multiple>
              <option value='1'>test 1</option>
              <option value='2'>test 2</option>
              <option value='3'>test 3</option>
              <option value='4'>test 4</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    
    <button id="testButton">test</button>
  </div>
</div>