// SCSS Syntax
$navbar-default-bg: #08088A;

//ex: for #logo: bold
$test: bold;

@import "bootstrap-sprockets";
@import "bootstrap";

// CSS

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  // font-weight: bold;
  font-weight: $test;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.center {
  text-align: center;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}


.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}


.article-title {

font-weight: bold;

font-size: 1.5em;

}

.article-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;

}

.article-meta-details {

border-top: 1px solid #eaeaea;

margin-top: 15px;

}