// SCSS Syntax
$navbar-default-bg: #08088A;

//ex: for #logo: bold
$test: bold;

@import "bootstrap-sprockets";
@import "bootstrap";

// CSS

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  // font-weight: bold;
  font-weight: $test;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}