// SCSS Syntax
$navbar-default-bg: black;

//ex: for #logo: bold
$test: bold;

@import "bootstrap-sprockets";
@import "bootstrap";

// CSS

// **********************************************
// Navbar
//***********************************************

#openTicketsTable, #closedTicketsTable {
  display: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: orange;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  // font-weight: bold;
  font-weight: $test;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}


.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}


.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

// **********************************************************
// General Custom CSS
//***********************************************************

.center {
  text-align: center;
}

.layoutBorder {
  border: 1px solid black;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  
  margin-top: 50px;
}

.sidenav a {
  padding: 6px 0px 6px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: black;
  background-color: #ffad66;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
  margin-top: 50px;
  padding-top: 10px;
}

.decreaseBodyWidith {
  margin-left: 160px;
}

.ticketStatus {
  padding: 5px; 
  border-radius: 10px;
}

// Table

th, td {
  padding: 10px;
}

table, th, td {
  border: 1px solid #b7b7b7;
}

th {
  cursor: pointer;
}

th:hover {
  color: orange;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
  border: 1px solid #b7b7b7;
}

